<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CallPort</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
     table.portcall { width: 100%; }
     td { vertical-align: top; }
     .b { border: 1px solid red; }
     form .custom-select { width: 100% }
     .row.-bold select { font-weight: bold }
     .col-form-label1 { text-align: right }
     .dues-container { background: #212529; padding-top: 20px; }
     table.dues td:last-child { text-align: right }
	.page-header { padding: 20px 0; background: #666; color: #fff; margin-bottom: 20px; }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CallPort</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/portcall/1">Судозаходы</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link disabled" href="/vessels">Суда <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/ports">Порты</a>
          </li>
        </ul>
      </div>
    </nav>

	<header class="container-fluid page-header">
		<div class="container">
			<h1>Судозаход</h1>
		</div>
	</header>

    <form>
      <div class="container">
        <nav class="nav nav-tabs" id="myTab" role="tablist">
          <a class="nav-item nav-link active" id="nav-vessel-tab" data-toggle="tab" href="#nav-vessel" role="tab" aria-controls="nav-vessel" aria-expanded="true">Судозаход</a>
          <a class="nav-item nav-link" id="nav-dues-tab" data-toggle="tab" href="#nav-dues" role="tab" aria-controls="nav-dues">Сборы</a>
          <a class="nav-item nav-link disabled" id="nav-aux-tab" data-toggle="tab" href="#nav-aux" role="tab" aria-controls="nav-aux">Экспорт</a>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-vessel" role="tabpanel" aria-labelledby="nav-vessel-tab">
            <div class="row" style="padding-top: 20px">
              <div class="col">
                <div class="form-group row -bold">
                  <label class="col-form-label col-sm-4 text-md-right">Судно</label>
                  <div class="col">
                    <div class="input-group">
                      <select class="form-control custom-select1">
                        <option>{{.Vessel.Name}}</option>
                      </select>
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">+</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">Владелец</label>
                  <div class="col">
                    <div class="input-group">
                      <select class="form-control custom-select1">
                        <option>{{.Vessel.Owner.Name}}</option>
                      </select>
                      <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">+</button>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">PIC</label>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="PIC">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">Email</label>
                  <div class="col">
                    <input type="email" class="form-control" placeholder="Email">
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">LOA</label>
                  <div class="col">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{.Vessel.Loa}}">
                      <span class="input-group-addon" id="basic-addon1">m</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">Beam</label>
                  <div class="col">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{.Vessel.Beam}}">
                      <span class="input-group-addon" id="basic-addon1">m</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">Depth</label>
                  <div class="col">
                    <div class="input-group">
                      <input type="text" class="form-control" value="{{.Vessel.MDepth}}">
                      <span class="input-group-addon" id="basic-addon1">m</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">RGT</label>
                  <div class="col">
                    <input type="text" class="form-control" value="{{.Vessel.RGT}}">
                    <!-- <small class="form-text">Регистровый тоннаж гросс</small> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">RG reduced</label>
                  <div class="col">
                    <input type="text" class="form-control" value="{{.Vessel.ReducedGT}}">
                    <small class="form-text">Уменьшенный регистровый тоннаж гросс</small>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">Дата</label>
                  <div class="col">
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">REF</label>
                  <div class="col">
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">ETA</label>
                  <div class="col">
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-form-label col-sm-4 text-md-right">ROE</label>
                  <div class="col">
                    <input type="text" class="form-control" disabled>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane fade" id="nav-dues" role="tabpanel" aria-labelledby="nav-dues-tab">
            <div class="row" style="padding-top: 20px;">
              <div class="col">
                <table class="table table-sm table-hover dues">
                  <thead>
                    <tr><th colspan="2" class="border-top-0">Портовые сборы</th></tr>
                  </thead>
                  <tbody>
                    <tr><td>Корабельный сбор</td><td>{{.Dues.TONNAGE_DUES}}</td></tr>
                    <tr><td>Навигационный сбор сбор</td><td>{{.Dues.NAVIGATIONAL_DUES}}</td></tr>
                    <tr><td>Маячный сбор</td><td>{{.Dues.LIGHT_DUES}}</td></tr>
                    <tr><td>Лоцманский сбор сбор</td><td>{{.Dues.PILOTAGE}}</td></tr>
                    <tr><td>Экологический сбор</td><td>{{.Dues.ECOLOGICAL_SERVICES}}</td></tr>
                    <tr><td>Швартовка / отшвартовка</td><td>{{.Dues.MOORING_UNMOORING}}</td></tr>
                    <tr><td>Буксирный сбор</td><td>{{.Dues.TUGS}}</td></tr>
                    <tr><td>Пожарный буксир</td><td>{{.Dues.FIREGUARD}}</td></tr>
                  </tbody>
                </table>
              </div>
              <div class="col">
                <table class="table table-sm table-hover dues">
                  <thead>
                    <tr><th colspan="2" class="border-top-0">Фиксированные сборы</th></tr>
                  </thead>
                  <tbody>
                    <tr><td>DEPLOYMENT / REMOVAL OF BOOMS</td><td>{{.Dues.DEPLOYMENT_REMOVAL_OF_BOOMS}}</td></tr>
                    <tr><td>WATCHMAN SERVICE</td><td>{{.Dues.WATCHMAN_SERVICE}}</td></tr>
                    <tr><td>USE OF TERMINAL'S BUS</td><td>{{.Dues.USE_OF_TERMINALS_BUS}}</td></tr>
                    <tr><td>USE OF TERMINAL'S GANGWAY</td><td>{{.Dues.USE_OF_TERMINALS_GANGWAY}}</td></tr>
                    <tr><td>CURRENCY CONVERSION FEES -2%</td><td>{{.Dues.CURRENCY_CONVERSION_FEES}}</td></tr>
                    <tr><td>SUPERVISION</td><td>{{.Dues.SUPERVISION}}</td></tr>
                    <tr><td>PORT CLEARANCE</td><td>{{.Dues.PORT_CLEARANCE}}</td></tr>
                    <tr><td>COURIER MAIL SERVICES</td><td>{{.Dues.COURIER_MAIL_SERVICES}}</td></tr>
                    <tr><td>COMMUNICATION</td><td>{{.Dues.COMMUNICATION}}</td></tr>
                    <tr><td>USE OF CAR</td><td>{{.Dues.USE_OF_CAR}}</td></tr>
                    <tr><td>USE OF LICENSED VEHICLE</td><td>{{.Dues.USE_OF_LICENSED_VEHICLE}}</td></tr>
                    <tr><td>BANK CHARGES</td><td>{{.Dues.BANK_CHARGES}}</td></tr>
                    <tr><td>AGENCY FEE</td><td>{{.Dues.AGENCY_FEE}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
            <table class="table table-sm table-inverse1">
              <thead>
                <tr><th>Итого</th><th class="text-right">{{.Dues.SUM}}</th></tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
