<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>CallPort</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style>
     table.portcall { width: 100%; }
     td { vertical-align: top; }
     .b { border: 1px solid red; }
     form .custom-select { width: 100% }
     .row.-bold select { font-weight: bold }
     .col-form-label1 { text-align: right }
     .dues-container { background: #212529; padding-top: 20px; }
     table.dues td:last-child { text-align: right }
	.page-header { padding: 20px 0; background: #666; color: #fff; margin-bottom: 20px; }
    </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">CallPort</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/portcall/1">Судозаходы</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/vessels">Суда</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/owners">Владельцы</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="/ports">Порты</a>
          </li>
        </ul>
      </div>
    </nav>

    <header class="container-fluid page-header">
      <div class="container">
        <h1>Суда</h1>
      </div>
    </header>

    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="border-top-0">Название</th>
            <th class="border-top-0">LOA</th>
            <th class="border-top-0">Beam</th>
            <th class="border-top-0">Depth</th>
            <th class="border-top-0">RGT</th>
            <th class="border-top-0">RG reduced</th>
            <th class="border-top-0">Владелец</th>
            <th class="border-top-0" style="width: 1%"></th>
          </tr>
        </thead>
        <tbody>
          {{range .}}
          <tr>
            <td><a href="/vessel/{{.Id}}"><b>{{.Name}}</b></a></td>
            <td>{{.Loa}}</td>
            <td>{{.Beam}}</td>
            <td>{{.MDepth}}</td>
            <td>{{.RGT}}</td>
            <td>{{.ReducedGT}}</td>
            <td><a href="/owner/{{.OwnerId}}">{{.Owner.Name}}</a></td>
            <td style="padding: 0 .75rem; vertical-align: middle">
              <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-primary">Ред</button>
                <button type="button" class="btn btn-outline-primary">Судозаходы &#160;<span class="badge badge-light">1</span></button>
              </div>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
